---
themeName: <%= themename %> WordPress Theme Documentation
themeHeaderText: <%= themeheadertext %>
themeImageAlt: <%= themename %> Cover
themeChangelogURL: https://www.proteusthemes.com/wordpress-themes/<%= theme %>/#go_changelog
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="ProteusNet">
		<link rel="icon" type="image/ico" href="images/favicon.ico"/>

		<title>{{header.themeName}} Online Documentation</title>

		<script type="text/javascript">
			WebFontConfig = {
				google: { families: [ 'Roboto:700,400:latin' ] }
			};
			(function() {
				var wf = document.createElement('script');
				wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
					'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
				wf.type = 'text/javascript';
				wf.async = 'true';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wf, s);
			})();
		</script>
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<!-- Custom styles for this template -->
		<!-- build:css stylesheets/main.css -->
		<link href="stylesheets/main.css" rel="stylesheet">
		<!-- endbuild -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body data-spy="scroll" data-target=".navbar-sidebar">
		{{> banner}}
		<header class="container  container--header">
			<div class="header">
				<div class="header__logo">
					<a href="#">
						<img src="images/logo.png" alt="ProteusThemes Logo" width="200" height="90">
					</a>
				</div>


				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a href="#sidebar-menu" type="button" class="navbar-toggle  collapsed">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
				</div>

				<nav class="navbar  navbar-default" role="navigation">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse  navbar-collapse" id="docs-navbar-collapse">
						<ul class="navigation">
							<li><a href="https://www.proteusthemes.com/help/">Support</a></li>
							<li><a href="https://www.youtube.com/user/ProteusNetCompany">Video Tutorials</a></li>
							<li><a href="https://www.proteusthemes.com/themes.html">Our Themes</a></li>
							<li><a href="{{header.themeChangelogURL}}">Changelog</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</nav>
			</div>

			<div class="theme-header">
				<div class="row">
					<div class="col-xs-12  col-md-6">
						<h1 class="theme-header__title">{{header.themeName}}</h1>
						<p class="theme-header__text">
							{{header.themeHeaderText}}
						</p>
					</div>
					<div class="col-xs-12  col-md-6">
						<img class="theme-header__cover" src="images/header-cover.jpg" alt="{{header.themeImageAlt}}" width="880" height="660">
					</div>
				</div>
			</div>
		</header>
		{{> meta}}
