---
lastModified: April 28, 2016
author: ProteusThemes
authorLink: https://www.proteusthemes.com/
themeName: <%= themename %> WP
themeforestLink: <%= tfurl %>
created: <%= creationdate %>
---
<div class="container  container--meta">
	<ul class="meta">
		<li>Author: <a class="meta__link" href="{{meta.authorLink}}">{{meta.author}}</a></li>
		<li>Get it: <a class="meta__link" href="{{meta.themeforestLink}}">{{meta.themeName}}</a></li>
		<li>Created: <span class="meta__focus">{{meta.created}}</span></li>
		<li>Last Modified: <span class="meta__focus">{{meta.lastModified}}</span></li>
	</ul>
</div>
