---
lastModified: April 19, 2016
author: ProteusThemes
authorLink: http://www.proteusthemes.com/
theme: Auto WP
themeforestLink: http://#
created: March 4, 2016
---
<div class="container  container--meta">
	<ul class="meta">
		<li>Author: <a class="meta__link" href="{{meta.authorLink}}">{{meta.author}}</a></li>
		<li>ThemeForest: <a class="meta__link" href="{{meta.themeforestLink}}">{{meta.theme}}</a></li>
		<li>Created: <span class="meta__focus">{{meta.created}}</span></li>
		<li>Last Modified: <span class="meta__focus">{{meta.lastModified}}</span></li>
	</ul>
</div>
