---
theme: <%= theme %>
themeName: <%= themename %> WP
---
<section>
	<h2 id="general-and-installation">General &amp; Installation</h2>
	<h3 id="few-words-on-start">Few Words on Start</h3>
	<p>
		{{!-- Intro Text --}}
		{{> intro-text}}
	</p>
	<h3 id="installation">Installation</h3>
		{{!-- Before Installation  --}}
		{{> before-installation}}
	<p>
		I assume you already have a fresh copy of <a href="https://wordpress.org">WordPress</a> installed on your server.
	</p>
	<p>
		You can install the {{general.themeName}} Theme in three different ways:
	</p>
	<ol>
		<li>Using <strong>Envato Market</strong> plugin - preferred method<br />
			You can install any theme you purchased on ThemeForest by installing the Envato Market plugin. Download the plugin <strong><a href="http://envato.github.io/wp-envato-market/" target="_blank">here</a></strong>, by clicking on the <strong>Download .zip</strong> button. Install the plugin like you would any other plugin in a zip file and activate it. Follow the instructions in the <strong>Envato Market</strong> menu item. This is the preferred method, because you will be able to update the theme to a newer version (we are continually improving our products) from within the WordPress dashboard, like you would update a plugin or an official theme.
		</li>
		<li><strong>Upload a zip file</strong> <br />
			When you are logged in your WordPress dashboard go to <i>Appearance » Themes » Add New » Upload Theme</i> and select the zip file <code>{{general.theme}}.zip</code> you downloaded from the ThemeForest (installable WordPress files only) and click <b>Install Now</b> button.
		</li>
		<li><strong>FTP upload</strong> <br />
			Unzip the contents of the <code>{{general.theme}}.zip</code> file and upload the folder named <code>{{general.theme}}</code> to your server to <code>wp-uploads/themes/</code> folder using a FTP client.
		</li>
	</ol>
	<p>
		Once your theme is on the server, activate it by clicking the <b>Activate</b> button below the preview image in <i>Appearance » Themes</i>
	</p>
	<img class="aligncenter" src="images/activate-theme.png" alt="Activate {{general.themeName}}">
	<p>
		Congratulations! Now the {{general.themeName}} Theme is installed.
	</p>
	<div class="warning">
		You still need to install/activate the required and recommended plugins - you can do this by visiting <b>Appearance » Install Plugins</b> inside wp-admin.
	</div>

	{{!-- After Installation --}}
	{{> after-installation}}

	<h3 id="updates">Updates</h3>
	<p>
		You can update the theme in two ways:
	</p>
	<ul>
		<li>you can setup the <strong>automatic Envato ThemeForest theme updates</strong>: <a href="https://www.proteusthemes.com/help/setup-automatic-theme-updates/" target="_blank">please follow these steps to do so</a>, or</li>
		<li>you can update the theme <strong>manually</strong>: <a href="https://www.proteusthemes.com/help/manually-update-wordpress-theme-newer-version/" target="_blank">here are the steps on how to do that.</a></li>
	</ul>

	{{!-- Theme Customization --}}
	{{> theme-customization}}

</section>

{{!-- Special notice --}}
{{> special-notice}}