---
theme: <%= theme %>
---
<section>
	<h2 id="demo-content">Demo Content</h2>
	<h3 id="one-click-demo-install">One Click Demo Install</h3>
	<p>
		You can import demo content from our demo site (with blurred licensed images) with a single click of a button. Go to <i>Appearance » Import Demo Data</i> and click on the import button.
	</p>
	<div class="warning">
		Don't forget to activate all required plugins before importing demo data.
	</div>
	<img src="images/one-click-demo-import.jpg" alt="One Click Demo Import" width="940" height="444">
	<div class="info">
		<p>When setting up a content with your new theme, put special focus on the page speed optimization, especially on the <strong><a href="https://www.proteusthemes.com/blog/ultimate-guide-image-optimization-wordpress/">image optimization process</a></strong>. This way you can save on your bandwidth, reduce the bounce rate on your website, and make your users happy. Our themes are created with the speed in mind but large, non-optimized images can and will ruin this experience.</p>
		<p><a href="https://www.proteusthemes.com/blog/ultimate-guide-image-optimization-wordpress/">Read more &rarr;</a></p>
	</div>
	<h3 id="import-xml-file">Import XML File</h3>
	<p>
		If you want to import the demo content the old-fashioned way, you can get a fresh copy of the <strong>XML file</strong> on our server at this URL: <a href="https://artifacts.proteusthemes.com/xml-exports/{{demo-content.theme}}-latest.xml">https://artifacts.proteusthemes.com/xml-exports/{{demo-content.theme}}-latest.xml</a>. Don't forget to activate all required plugins before importing demo data. To import the demo data go to <i>Tools » Import</i>, click on <i>WordPress</i> (install the <strong>WordPress Importer</strong> plugin if not already installed) and upload/import the previously saved xml file (don't forget to enable the <i>Download and import file attachments</i> checkbox to also import the images).
	</p>
	<p>
		<b>Demo Widgets</b><br>After you import the demo content, you can also import widgets the old-fashioned way. The file for widget import is also located on our server: <a href="https://artifacts.proteusthemes.com/json-widgets/{{demo-content.theme}}.json">https://artifacts.proteusthemes.com/json-widgets/{{demo-content.theme}}.json</a>. Rename this file to <code>{{demo-content.theme}}.wie</code> (mind the file extension) and use it in the plugin <a href="https://wordpress.org/plugins/widget-importer-exporter/" target="_blank">Widget Importer &amp; Exporter</a>. Go to <i>Tools » Widget Import/Export</i> and import the file.
	</p>
	<p>
		<b>After import setup</b><br>After you have imported the demo data and widgets, you should also setup these things:
		{{!-- After Import setup --}}
		{{> after-import-setup}}
	</p>
	{{!-- Import files not available --}}
	{{> import-files-not-available}}

	<div class="warning">
		Don't forget to activate all required plugins before importing demo data.
	</div>
	{{!-- After Demo Content --}}
	{{> after-demo-content}}
</section>
