---
theme: <%= theme %>
themeName: <%= themename %> WP
---
<section>
	<h2 id="general-and-installation">General &amp; Installation</h2>
	<h3 id="few-words-on-start">Few Words on Start</h3>
	<p>
		{{!-- Intro Text --}}
		{{> intro-text}}
	</p>
	<h3 id="installation">Installation</h3>
		{{!-- Before Installation  --}}
		{{> before-installation}}
	<p>
		I assume you already have a fresh copy of <a href="https://wordpress.org">WordPress</a> installed on your server.
	</p>
	<p>
		You can install the {{general.themeName}} Theme in two different ways:
	</p>
	<ol>
		<li><strong>Upload a zip file</strong> <br />
			When you are logged in your WordPress dashboard go to <i>Appearance » Themes » Add New » Upload Theme</i> and select the zip file <code>{{general.theme}}.zip</code> you downloaded from the ThemeForest (installable WordPress files only) and click <b>Install Now</b> button.
		</li>
		<li><strong>FTP upload</strong> <br />
			Unzip the contents of the <code>{{general.theme}}.zip</code> file and upload the folder named <code>{{general.theme}}</code> to your server to <code>wp-uploads/themes/</code> folder using a FTP client.
		</li>
	</ol>
	<p>
		Once your theme is on the server, activate it by clicking the <b>Activate</b> button below the preview image in <i>Appearance » Themes</i>
	</p>
	<img class="aligncenter" src="images/activate-theme.png" alt="Activate {{general.themeName}}">
	<p>
		Congratulations! Now the {{general.themeName}} Theme is installed.
	</p>
	<div class="warning">
		You still need to install/activate the required and recommended plugins - you can do this by visiting <b>Appearance » Install Plugins</b> inside wp-admin.
	</div>

	{{!-- After Installation --}}
	{{> after-installation}}

	<h3 id="updates">Updates</h3>
	<p>
		You can update the theme <strong>manually</strong>: <a href="https://support.proteusthemes.com/hc/en-us/articles/200391361-How-do-I-manually-update-the-WordPress-theme-to-the-newer-version-" target="_blank">here are the steps on how to do that.</a>
	</p>
	<p>
		Note: you can not use the Envato Market plugin for theme updates, if you bought the theme on our shop: proteusthemes.com.
	</p>

	{{!-- Theme Customization --}}
	{{> theme-customization}}

</section>